@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Patrick+Hand&display=swap');

body {
    margin : 0;
    background-color: #f3e6cd4e;
}

header {
    background-color: #141E46;
    font-family: Amatic SC;
    font-weight: 700;
    font-size: 100px;
    color: #f8e8c5;
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    font-family: Patrick hand;
    font-size: 25px;
    padding: 10px;
    color: #3a3f4f;
}

.container {
    display: flex;
    justify-content: center;
}

.screen_border {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 40px;
    height: 550px;
    max-height: 550px;
    width: 650px;
    max-width: 650px;
    border: solid;
    border-radius: 10px;
    background-color: #C70039;
    border-color: #C70039;
}

.screen_title {
    font-family: Patrick hand;
    font-size: 20px;
    color: #DCC08C;
}

#screen_layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    height: 565px;
    width: 565px;
    background-color: rgb(239, 229, 229);
    
}

.button_screen {
    display: flex;
    flex-direction: row;
    gap : 465px;
    padding-bottom: 10px;
}


#left-button {

}

#right-button {

}

.button {
    height: 60px;
    width: 60px;
    border-radius: 360px;
    border-color: #3a3f4f ;
}


#screen_layout .square {
    flex: 0 0 5.5%;
    height: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    /*border-color: rgb(239, 229, 229)*/;
    border-color: white;
    margin : 0.2px;
}

/*.square:hover {
    background-color: #141E46;
}
